body{
    background-color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    height: 50px;
    font-size: 25px;

}

.employeeList{
    width: 100%;
    margin-top: 50px;
}
table, th, tr, td {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}
.red{
    background-color: red;
}

.totalMonthly{
 text-align: center;
 padding-left: 300px;
}
.userData{
    padding-bottom: 50px;
}
.tableTop{
    font-size: 20px;
}