body{
    background-color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: right;
}
.tableTop{
    border: solid black 2px;
}