body{
    background-color: #668066;
}
.heading{
    background-color: #532222;
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
}
h2{
    color: white;
}
.employeeList{
    width: 100%;
    margin-top: 50px;
}
table, th, tr, td {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}
th{
    background-color: #89859C;
}
.employeeList tr:nth-child(odd){ 
    background: #b8d1f3;
}
.employeeList tr:nth-child(even){
    background: #dae5f4;
}

.red{
    background-color: red;
}
.brown{
    background-color: #532222;
}
.tableTop{
    font-size: 20px;
}
.totalMonthly{
 text-align: center;
 padding-left: 300px;
}
.userData{
    margin-top: 200px;
    padding-bottom: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #532222;
    color: whitesmoke;
    height: 100px;
    font-size: 25px;
}

